@model PPP_Loan.Models.BeneficiaryOwner

    <div class="panel panel-primary setup-content" id="step-5">
        <div class="panel-heading">
            <h1 class="panel-title">Beneficial Ownership</h1>

        </div>

        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailID)
                @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MobileNumber)
                @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role)
                @Html.TextBoxFor(model => model.Role, new { @class = "form-control" })
            </div>

            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
        </div>
    </div>