@model PPP_Loan_2.Models.ApplicantModel

    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="@Url.Content("~/Content/application.css")" rel="stylesheet" type="text/css" />
    </head>




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


   <div class="container">
      <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step col-xs-2">
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p><small>APPLICATION</small></p>
            </div>
            <div class="stepwizard-step col-xs-2">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p><small>YOUR BUSINESS</small></p>
            </div>
            <div class="stepwizard-step col-xs-2">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p><small>PERSONAL INFO</small></p>
            </div>
            <div class="stepwizard-step col-xs-2">
                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                <p><small>PAYROLL CALCULATION</small></p>
            </div>
            <div class="stepwizard-step col-xs-2">
                <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                <p><small>OTHERS INVOLVED</small></p>
            </div>
            <div class="stepwizard-step col-xs-2">
                <a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
                <p><small>REVIEW & SUBMIT</small></p>
            </div>
        </div>
    </div>
   </div>


   <div class="panel panel-primary setup-content" id="step-1">
       <div class="panel-heading">
           <h1 class="panel-title">Paycheck Protection Program Loan Application</h1>

       </div>

       <div class="panel-body">
           <div class="form-group">

               @Html.ValidationSummary(true, "", new { @class = "text-danger" })

               @Html.LabelFor(model => model.first_name)

               @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })

           </div>


           <div class="form-group">
               @Html.LabelFor(model => model.last_name)

               @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })

           </div>

           <div class="form-group">
               @Html.LabelFor(model => model.email)

               @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

           </div>

           <div class="form-group">
               @Html.LabelFor(model => model.phone)

               @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })

           </div>

           @*<div class="form-group">
            @Html.LabelFor(model => model.role)

                @Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ssn)

                @Html.EditorFor(model => model.ssn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ssn, "", new { @class = "text-danger" })

        </div>*@

           <div class="form-group">
               <div class="btn-container">
                   
                  <input type="submit" value="Save" class="btn btn-primary" />
                  
                  <input type="button" class="btn btn-primary pull-right" value="Next" onclick="location.href='@Url.Action("BusinessView", "BusinessInfo")'" />
                   
               </div>
       
           </div> 
       </div>
   
   </div>
 }

               

               @section Scripts {
                   @Scripts.Render("~/bundles/jqueryval")
               }
